@import (once) "@ui/theme.less";

.Table {
    /* with sticky header and medium size */
    position: absolute;
    inset: var(--toolbar-height) 0 0;
}

.HeadRow,
.GroupRow {
    font-weight: var(--font-weight-xl);
}

.Row {
    > :nth-child(2) {
        grid-column: span 3;
    }
}

.GroupRow {
    width: 100%;
    padding: 0.75rem 1rem 0.25rem;
    background-color: var(--color-background-body);
    position: sticky;
    top: 0;
    z-index: 1;
    border-block-end: 1px solid var(--color-neutral-outlined-disabled-border);
}

.GroupHeading {
    width: 100%;
    font-size: var(--font-size-xl2);
}
