@import (once) "@ui/theme.less";

.GroupedRows {
    position: relative;
    margin-block-start: 2px;
}

.Row {
    min-height: 2rem;

    > :nth-child(2) {
        grid-column: span 3;
    }
}

.GroupRow {
    font-weight: var(--font-weight-xl);
    padding: 1.25rem 1rem 0.75rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(
        150deg,
        var(--palette-common-white) 0%,
        var(--palette-common-white) 30%,
        var(--palette-primary-100) 70%,
        var(--palette-primary-200) 90%,
        var(--palette-primary-300) 100%
    );
}

.GroupHeading {
    width: 100%;
    font-size: var(--font-size-xl2);
}
