@import (once) "@ui/theme.less";

.HeadRow,
.GroupRow {
    font-weight: var(--font-weight-xl);
}

.Row {
    > :nth-child(2) {
        grid-column: span 3;
    }
}

.GroupRow {
    padding: 0.75rem 1rem 0.25rem;
    background-color: var(--color-background-body);
    position: sticky;
    top: 0;
    z-index: 1;
}

.GroupHeading {
    width: 100%;
    font-size: var(--font-size-xl2);
}
