.name {
    justify-self: stretch;
    font-weight: var(--font-weight-semi-bold);

    &.unavailable {
        color: var(--color-subtext0);
        font-weight: var(--font-weight-light);
    }

    &:not(.unavailable).removing {
        color: var(--color-red);
        font-weight: var(--font-weight-bold);
        text-decoration: underline dashed 1px;
        text-underline-position: under;
    }
}

.total {
    font-size: var(--font-size-small);
    justify-content: flex-end;
}
