@import (once) "@ui/theme.less";

.name {
    justify-self: stretch;
    font-weight: var(--font-weight-xl);

    &.unavailable {
        color: var(--color-neutral-outlined-disabled);
        text-decoration: line-through;
    }

    &:not(.unavailable).removing {
        color: var(--color-negative-outlined);
        text-decoration: line-through;
    }
}

.total {
    font-size: var(--font-size-sm);
    justify-content: flex-end;
}
