.ValueCell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-xlarge);
    transition:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

    &.last {
        color: var(--color-red);
    }

    &.empty {
        color: var(--color-surface2);
    }

    &.preferred {
        font-weight: var(--font-weight-medium);
        color: var(--color-strong);
        background-color: var(--color-crust);
    }

    &.removing {
        font-weight: var(--font-weight-bold);
        color: var(--color-base);
        background-color: var(--color-red);
    }

    &.span {
        justify-content: start;
        width: 100%;
        padding-inline-start: 2rem;
    }
}
