.Toolbar {
    display: grid;
    grid-template-columns: 40px auto 40px;
    align-items: center;
    height: var(--toolbar-height);

    > * {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-medium);
    }

    .filter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        > * + *,
        > *:has(+ *) {
            flex: 0 1 50%;
        }
    }
}
