.name {
    .unused {
        font-weight: var(--font-weight-light);
        color: var(--color-subtext0);
        text-decoration: underline wavy 1px;
        text-decoration-color: var(--color-red);
        text-underline-position: under;
    }
}
