.VariantsTable {
    .heading {
        font-size: var(--font-size-xlarge);
        font-weight: var(--font-weight-semi-bold);
        padding: 1.25rem 0.75rem 0.75rem;
        position: sticky;
        inset-block-start: 2.5rem;
        z-index: 1;
        background: var(--mantine-color-body)
            linear-gradient(
                135deg,
                color(from var(--mantine-color-default-hover) srgb r g b / 0%) 30%,
                var(--mantine-color-default-hover) 100%
            );
    }
}
