.mantine-ActionIcon-root[data-action="add"] {
    position: fixed;
    inset-block-end: calc(0.5rem + var(--safe-block-end));
    inset-inline-end: calc(0.5rem + var(--safe-inline-end));
    z-index: 100;
    box-shadow: 0 2px 12px -2px var(--color-shadow), 0 2px 16px -2px var(--color-shadow);
    transition: opacity 0.1s ease-out;
    opacity: 1;
    pointer-events: auto;

    &[data-hidden="true"] {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
    }
}
