@import (once) "@ui/theme.less";

.Row.GroupRow {
    font-weight: var(--font-weight-xl);
    padding: 1.25rem 0.75rem 0.75rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(
        160deg,
        var(--color-background-body) 0%,
        var(--color-background-body) 30%,
        var(--color-background-level1) 70%,
        var(--color-background-level2) 90%,
        var(--color-background-level3) 100%
    );
}

.RowGroup + .RowGroup .GroupRow {
    margin-block-start: 0.75rem;
}

.GroupHeading {
    width: 100%;
    font-size: var(--font-size-xl);
}
