.Name {
    justify-self: stretch;
    font-weight: var(--font-weight-semi-bold);
}

.Row {
    border-block-start: 1px solid var(--color-mantle);
    overflow: hidden;

    &.unused .Name {
        font-weight: var(--font-weight-light);
        color: var(--color-subtext0);
        text-decoration: underline wavy 1px;
        text-decoration-color: var(--color-red); // separated as shorthand not supported in Safari
        text-underline-position: under;
    }
}
