.Row.GroupRow {
    font-weight: var(--font-weight-semi-bold);
    padding: 1.25rem 0.75rem 0.75rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--color-base)
        linear-gradient(
            135deg,
            color(from var(--color-overlay2) srgb r g b / 0%) 30%,
            color(from var(--color-overlay2) srgb r g b / 50%) 100%
        );
}

.RowGroup + .RowGroup .GroupRow {
    margin-block-start: 0.75rem;
}

.GroupHeading {
    width: 100%;
    font-size: var(--font-size-large);
}
