@import (once) "@ui/theme.less";

.Table {
    position: absolute;
    inset: calc(var(--toolbar-height) + 3rem) 0 0;
}

.HeadRow,
.GroupRow {
    font-weight: var(--font-weight-xl);
}

.Row {
    padding: 0.5rem 0;
}

.GroupRow {
    width: 100%;
    padding: 1.5rem 1rem 0.5rem;
    background-color: var(--color-background-body);
    position: sticky;
    top: 0;
    z-index: 1;
    border-block-end: 1px solid var(--color-neutral-outlined-disabled-border);
}

.GroupHeading {
    width: 100%;
    font-size: var(--font-size-xl2);
}

.Name {
    justify-self: stretch;
    font-weight: var(--font-weight-xl);
    padding-inline-start: 1.5rem;
}
