@import (once) "@ui/theme.less";

.HeadRow,
.GroupRow {
    font-weight: var(--font-weight-xl);
}

.Row {
    grid-template-columns: 40px 1fr 1fr 1fr;
    background-color: var(--color-background-body);
    padding: 0.5rem 0;
}

.GroupRow {
    padding: 1rem 1rem 0.25rem;
    background-color: var(--color-background-body);
    position: sticky;
    top: 0;
    z-index: 1;
}

.GroupHeading {
    width: 100%;
    font-size: var(--font-size-xl);
}

.Name {
    justify-self: stretch;
    font-weight: var(--font-weight-xl);
}
