@import url('@ui/theme.less');
@import url('prism-themes/themes/prism-coldark-cold.css');

body {
    color: var(--palette-neutral-700);
    background-color: var(--palette-neutral-50);
}

.Page {
    font-family: var(--font-family-body);
    margin: 6vh 10vw 6vh 20vw;

    aside {
        position: fixed;
        inset-inline-start: 0;
        margin-block-start: 3vh;
        padding: 0 3vw;
        width: 9vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-inline-end: 1px solid var(--palette-divider);

        a {
            color: var(--palette-primary-plain-color);
            text-decoration: none;
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-md);
            letter-spacing: var(--letter-spacing-xs);
            margin-block-start: 5vh;
            margin-block-end: 5vh;

            + a {
                margin-block-start: -3vh;
            }

            &[aria-current='page'] {
                color: var(--palette-neutral-plain-color);
                font-size: var(--font-size-lg);
                font-weight: var(--font-weight-lg);
            }
        }
    }

    h1 {
        font-size: var(--font-size-xl4);
        font-weight: var(--font-weight-lg);
    }

    h2 {
        font-size: var(--font-size-xl3);
        font-weight: var(--font-weight-lg);
    }

    h3 {
        font-size: var(--font-size-xl2);
        font-weight: var(--font-weight-lg);
    }

    h1,
    h2,
    h3 {
        margin-block-start: 4vh;
    }

    code {
        font-family: var(--font-family-code) !important;
        font-size: var(--font-size-sm) !important;
        font-weight: var(--font-weight-md);
        line-height: var(--line-height-md) !important;
    }

    strong,
    b {
        > code {
            font-weight: var(--font-weight-lg);
        }
    }

    table {
        width: 100%;
        margin-block-start: 2vh;

        &[aria-expanded='false'] {
            width: fit-content;
        }

        th,
        td {
            padding: 0.5rem 1rem;
        }

        th {
            text-align: start;
        }

        tbody {
            th:first-child {
                width: 4rem;
                padding-inline-end: 1rem;
                text-align: end;
            }
        }

        code {
            font-weight: var(--font-weight-md);
            color: var(--palette-neutral-700);

            &[data-default='true'] {
                font-weight: var(--font-weight-xl);
                color: var(--palette-neutral-900);
            }
        }
    }

    pre:has(code) {
        border: 1px solid var(--palette-divider);
        border-radius: var(--radius-sm);
        padding: 1vh 2vw;
    }
}
