@import "prism.pcss";

[data-color-scheme="light"] {
    color-scheme: light;
}

[data-color-scheme="dark"] {
    color-scheme: dark;
}

.Page {
    position: relative;
    font-family: var(--font-family-body), sans-serif;
    margin: 6vh 10vw 6vh 20vw;

    .ColorToggle {
        position: absolute;
        inset-block-start: -6vh;
        inset-inline-end: 0;
    }

    aside {
        position: fixed;
        inset-inline-start: 0;
        margin-block-start: 3vh;
        padding: 0 3vw;
        width: 9vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-inline-end: 1px solid var(--color-crust);

        a {
            color: var(--color-blue);
            text-decoration: none;
            font-size: var(--font-size-base);
            font-weight: var(--font-weight-normal);
            letter-spacing: var(--letter-spacing-condensed);
            margin-block: 5vh;

            + a {
                margin-block-start: -3vh;
            }

            &[aria-current="page"] {
                color: var(--color-text);
                font-size: var(--font-size-medium);
                font-weight: var(--font-weight-medium);
            }
        }
    }

    code {
        font-family: var(--font-family-code), monospace;
        font-size: var(--font-size-base);
        font-weight: light-dark(var(--font-weight-normal), var(--font-weight-light));
        line-height: var(--line-height-base);
    }

    h1,
    h2,
    h3 {
        margin-block-start: 4vh;

        code {
            border-radius: var(--radius-small);
            font-size: 0.85em !important;
            white-space: nowrap;
        }
    }

    h1 {
        font-size: var(--font-size-xxxxlarge);
        font-weight: var(--font-weight-semi-bold);
    }

    h2 {
        font-size: var(--font-size-xxxlarge);
        font-weight: var(--font-weight-semi-bold);
    }

    h3 {
        font-size: var(--font-size-xxlarge);
        font-weight: var(--font-weight-semi-bold);
    }

    strong,
    b {
        > code {
            font-weight: var(--font-weight-medium);
        }
    }

    table {
        width: 100%;
        margin-block-start: 2vh;

        &[aria-expanded="false"] {
            width: fit-content;
        }

        code {
            font-weight: var(--font-weight-normal);
            color: var(--color-subtext0);

            &[data-default="true"] {
                font-weight: var(--font-weight-semi-bold);
                color: var(--color-text);
            }

            &[data-type="string"] {
                font-style: italic;

                &::before {
                    content: '"';
                    font-family: var(--font-family-body), sans-serif;
                }

                &::after {
                    content: '"';
                    font-family: var(--font-family-body), sans-serif;
                }
            }
        }

        th,
        td {
            padding: 0.5rem 1rem;
        }

        th {
            &:not([align]) {
                text-align: center;
            }

            code {
                white-space: nowrap;
            }
        }

        td p {
            margin-block: 0.2rem;
        }

        tbody {
            th:not([align]):first-child {
                width: 4rem;
                padding-inline-end: 1rem;
                text-align: end;
            }
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
            list-style: none;

            + li::before {
                content: ", ";
            }
        }
    }

    section {
        color: var(--color-text);
        background-color: var(--color-base);
        border: 1px solid var(--color-crust);
        border-radius: 24px;
        padding-block: 16px;
        margin-block: 48px;
        overflow: auto;

        table:first-of-type {
            margin-block-start: 0;
        }
    }

    pre:has(code) {
        border: 1px solid var(--color-crust);
        border-radius: var(--radius-small);
        padding: 1vh 2vw;
    }
}
