*
!src/
!src/**
!public/
!public/**
!scripts/
!scripts/postcss/
!scripts/postcss/**
!docker/
!docker/Dockerfile
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!next.config.ts
!postcss.config.mjs
!tsconfig.json
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.snap.ts
**/__mocks__
**/tests
