# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/playwright-report
/test-results
/src/tests/playwright/.runtime.json

# production
/certs
/dist
/data
/images
/config.js
/server.js

# misc
.DS_Store
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.*_
/.next/
/.next-*
/next-env.d.ts
