.ValueBox {
    header {
        flex-wrap: nowrap;

        .title {
            flex: 1 0 auto;
            padding: 0 1.75rem;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            time {
                font-size: var(--font-size-xl3);
                font-weight: var(--font-weight-md);
            }
        }

        .close {
            flex: 0;
            width: 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;
        }
    }

    .diff {
        position: absolute;
        display: flex;
        justify-content: center;
        inset-inline-end: 4em;
        inset-block-start: -2px;
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-md);
        padding-inline: .5em;
        margin-inline: -.5em;
        border: 1px solid;
        border-radius: var(--radius-lg);

        &.positive {
            color: var(--palette-success-outlined-color);
            background-color: var(--palette-success-outlined-hover-bg);
            border-color: var(--palette-success-outlined-hover-border);

            &::before {
                content: "+";
            }
        }

        &:not(.positive) {
            color: var(--palette-failure-outlined-color);
            background-color: var(--palette-failure-outlined-hover-bg);
            border-color: var(--palette-failure-outlined-hover-border);

            &::before {
                content: "–";
            }
        }
    }
}
