.ValueInput {
    position: relative;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-inline-end: 1rem;
        justify-self: center;
        font-size: var(--font-size-xxlarge);
        font-weight: var(--font-weight-light);

        small {
            padding-inline-start: 0.2rem;
            font-size: var(--font-size-xsmall);
            font-weight: var(--font-weight-medium);
        }
    }

    .value {
        flex: 0 0 auto;
        width: 12rem;
    }

    input {
        text-align: center;
    }
}
