@import (once) "@ui/theme.less";

.ValueChange {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-lg);
    line-height: var(--line-height-md);
    padding-inline: 0.5em;
    margin-inline: -0.5em;
    border: 1px solid;
    border-radius: var(--radius-lg);
    color: var(--color-warning-outlined);
    background-color: var(--color-warning-outlined-hover-bg);
    border-color: var(--color-warning-outlined-hover-border);

    &.positive {
        color: var(--color-positive-outlined);
        background-color: var(--color-positive-outlined-hover-bg);
        border-color: var(--color-positive-outlined-hover-border);

        &::before {
            content: "+";
        }
    }

    &.negative {
        color: var(--color-negative-outlined);
        background-color: var(--color-negative-outlined-hover-bg);
        border-color: var(--color-negative-outlined-hover-border);

        &::before {
            content: "–";
        }
    }

    &.position-top {
        inset-inline-end: 4em;
        inset-block-start: -0.5rem;
    }

    &.position-left {
        inset-inline-end: 100%;
        inset-block-start: 0.5rem;
    }

    &.position-right {
        inset-inline-start: 100%;
        inset-block-start: 0.5rem;
    }
}
