.GroupBox {
    header {
        flex-wrap: nowrap;

        .title {
            flex: 1 0 auto;
            padding: 0 1.75rem;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            time {
                font-size: var(--font-size-xxxlarge);
                font-weight: var(--font-weight-medium);
            }
        }

        .close {
            flex: 0;
            width: 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;
        }
    }

    .error {
        color: var(--color-red);
        font-size: var(--font-size-small);
        margin: 0.2rem 0.5rem 0;
    }

    .spacer {
        width: 1rem;
    }
}

.Annual {
    margin-block-start: 1rem;
}
