@import "@catppuccin/palette/css/catppuccin.css";

:root {
    --color-rosewater: light-dark(var(--ctp-latte-rosewater), var(--ctp-mocha-rosewater));
    --color-flamingo: light-dark(var(--ctp-latte-flamingo), var(--ctp-mocha-flamingo));
    --color-pink: light-dark(var(--ctp-latte-pink), var(--ctp-mocha-pink));
    --color-mauve: light-dark(var(--ctp-latte-mauve), var(--ctp-mocha-mauve));
    --color-red: light-dark(var(--ctp-latte-red), var(--ctp-mocha-red));
    --color-maroon: light-dark(var(--ctp-latte-maroon), var(--ctp-mocha-maroon));
    --color-peach: light-dark(var(--ctp-latte-peach), var(--ctp-mocha-peach));
    --color-yellow: light-dark(var(--ctp-latte-yellow), var(--ctp-mocha-yellow));
    --color-green: light-dark(var(--ctp-latte-green), var(--ctp-mocha-green));
    --color-teal: light-dark(var(--ctp-latte-teal), var(--ctp-mocha-teal));
    --color-sky: light-dark(var(--ctp-latte-sky), var(--ctp-mocha-sky));
    --color-sapphire: light-dark(var(--ctp-latte-sapphire), var(--ctp-mocha-sapphire));
    --color-blue: light-dark(var(--ctp-latte-blue), var(--ctp-mocha-blue));
    --color-lavender: light-dark(var(--ctp-latte-lavender), var(--ctp-mocha-lavender));
    --color-text: light-dark(var(--ctp-latte-text), var(--ctp-mocha-text));
    --color-subtext1: light-dark(var(--ctp-latte-subtext1), var(--ctp-mocha-subtext1));
    --color-subtext0: light-dark(var(--ctp-latte-subtext0), var(--ctp-mocha-subtext0));
    --color-overlay2: light-dark(var(--ctp-latte-overlay2), var(--ctp-mocha-overlay2));
    --color-overlay1: light-dark(var(--ctp-latte-overlay1), var(--ctp-mocha-overlay1));
    --color-overlay0: light-dark(var(--ctp-latte-overlay0), var(--ctp-mocha-overlay0));
    --color-surface2: light-dark(var(--ctp-latte-surface2), var(--ctp-mocha-surface2));
    --color-surface1: light-dark(var(--ctp-latte-surface1), var(--ctp-mocha-surface1));
    --color-surface0: light-dark(var(--ctp-latte-surface0), var(--ctp-mocha-surface0));
    --color-base: light-dark(var(--ctp-latte-base), var(--ctp-mocha-base));
    --color-mantle: light-dark(var(--ctp-latte-mantle), var(--ctp-mocha-mantle));
    --color-crust: light-dark(var(--ctp-latte-crust), var(--ctp-mocha-crust));
    --color-strong: light-dark(var(--ctp-mocha-crust), var(--ctp-latte-crust));
    --color-soft: light-dark(var(--ctp-latte-crust), var(--ctp-mocha-crust));
    --color-shadow: light-dark(var(--ctp-latte-overlay2), var(--ctp-mocha-mantle));
}
