:root {
    --element-base-color: var(--color-text);
    --element-color: var(--element-base-color);
    --element-bg: transparent;
    --element-border: transparent;
    --element-hover: color-mix(in srgb, var(--element-color), var(--color-strong) 10%);
    --element-hover-bg: var(--color-mantle);
    --element-hover-border: var(--element-hover-bg);
    --element-active: color-mix(in srgb, var(--element-hover), var(--color-strong) 10%);
    --element-active-bg: var(--color-crust);
    --element-active-border: var(--element-active-bg);
    --element-disabled: color-mix(in srgb, var(--element-color), var(--color-strong) 50%);
    --element-disabled-bg: color-mix(in srgb, var(--element-bg), var(--color-soft) 80%);
    --element-disabled-border: var(--element-disabled-bg);
}

.ui-color-rosewater {
    --element-base-color: var(--color-rosewater);
}

.ui-color-flamingo {
    --element-base-color: var(--color-flamingo);
}

.ui-color-pink {
    --element-base-color: var(--color-pink);
}

.ui-color-mauve {
    --element-base-color: var(--color-mauve);
}

.ui-color-red {
    --element-base-color: var(--color-red);
}

.ui-color-maroon {
    --element-base-color: var(--color-maroon);
}

.ui-color-peach {
    --element-base-color: var(--color-peach);
}

.ui-color-yellow {
    --element-base-color: var(--color-yellow);
}

.ui-color-green {
    --element-base-color: var(--color-green);
}

.ui-color-teal {
    --element-base-color: var(--color-teal);
}

.ui-color-sky {
    --element-base-color: var(--color-sky);
}

.ui-color-sapphire {
    --element-base-color: var(--color-sapphire);
}

.ui-color-blue {
    --element-base-color: var(--color-blue);
}

.ui-color-lavender {
    --element-base-color: var(--color-lavender);
}

.ui-variant-solid {
    --element-color: var(--color-base);
    --element-bg: color-mix(in srgb, var(--element-base-color), var(--color-strong) 10%);
    --element-border: var(--element-bg);
    --element-hover: color-mix(in srgb, var(--element-color), var(--color-soft) 30%);
    --element-hover-bg: color-mix(in srgb, var(--element-bg), var(--color-strong) 30%);
    --element-hover-border: var(--element-hover-bg);
    --element-active: color-mix(in srgb, var(--element-hover), var(--color-soft) 30%);
    --element-active-bg: color-mix(in srgb, var(--element-hover-bg), var(--color-strong) 30%);
    --element-active-border: var(--element-active-bg);
    --element-disabled: color-mix(in srgb, var(--color-base), var(--color-strong) 50%);
    --element-disabled-bg: color-mix(in srgb, var(--element-bg), var(--color-soft) 80%);
    --element-disabled-border: var(--element-disabled-bg);
}

.ui-variant-soft {
    --element-color: color-mix(in srgb, var(--element-base-color), var(--color-strong) 30%);
    --element-bg: color-mix(in srgb, var(--element-base-color), var(--color-soft) 60%);
    --element-border: color-mix(in srgb, var(--element-base-color), var(--color-soft) 50%);
    --element-hover: color-mix(in srgb, var(--element-color), var(--color-strong) 30%);
    --element-hover-bg: color-mix(in srgb, var(--element-bg), var(--color-strong) 10%);
    --element-hover-border: color-mix(in srgb, var(--element-border), var(--color-soft) 10%);
    --element-active: color-mix(in srgb, var(--element-hover), var(--color-strong) 10%);
    --element-active-bg: color-mix(in srgb, var(--element-hover-bg), var(--color-strong) 10%);
    --element-active-border: color-mix(in srgb, var(--element-border), var(--color-strong) 10%);
    --element-disabled: color-mix(in srgb, var(--element-color), var(--color-soft) 50%);
    --element-disabled-bg: color-mix(in srgb, var(--element-bg), var(--color-soft) 30%);
    --element-disabled-border: color-mix(in srgb, var(--element-border), var(--color-soft) 50%);
}

.ui-variant-outlined {
    --element-color: var(--element-base-color);
    --element-bg: var(--color-base);
    --element-border: color-mix(in srgb, var(--element-base-color), var(--color-soft) 50%);
    --element-hover: color-mix(in srgb, var(--element-active), var(--color-strong) 10%);
    --element-hover-bg: color-mix(in srgb, var(--element-active-bg), var(--color-soft) 40%);
    --element-hover-border: color-mix(in srgb, var(--element-border), var(--color-soft) 10%);
    --element-active: color-mix(in srgb, var(--element-color), var(--color-strong) 10%);
    --element-active-bg: color-mix(in srgb, var(--element-color), var(--color-soft) 80%);
    --element-active-border: color-mix(in srgb, var(--element-border), var(--color-strong) 10%);
    --element-disabled: color-mix(in srgb, var(--color-text), var(--color-soft) 60%);
    --element-disabled-bg: var(--color-base);
    --element-disabled-border: color-mix(in srgb, var(--element-border), var(--color-soft) 50%);
}

.ui-variant-plain {
    --element-color: var(--element-base-color);
    --element-bg: transparent;
    --element-border: transparent;
    --element-hover: color-mix(in srgb, var(--element-active), var(--color-strong) 10%);
    --element-hover-bg: color-mix(in srgb, var(--element-active-bg), var(--color-soft) 40%);
    --element-hover-border: var(--element-border);
    --element-active: color-mix(in srgb, var(--element-color), var(--color-strong) 10%);
    --element-active-bg: color-mix(in srgb, var(--element-color), var(--color-soft) 80%);
    --element-active-border: var(--element-border);
    --element-disabled: color-mix(in srgb, var(--color-text), var(--color-soft) 60%);
    --element-disabled-bg: var(--element-bg);
    --element-disabled-border: var(--element-border);
}
