@import (once) "colors/other.less";

// Focus
:root {
    --focus-thickness: 2px;
    --focus-outline-offset: var(--focus-thickness, 2px);
    --focus-outline: var(--focus-thickness, 2px) solid var(--color-focus-visible);
}
