:root {
    &[data-mantine-color-scheme="light"] {
        --mantine-color-scheme: light;
    }

    &[data-mantine-color-scheme="dark"] {
        --mantine-color-scheme: dark;
    }

    &:not([data-mantine-color-scheme]) {
        @media (prefers-color-scheme: light) {
            --mantine-color-scheme: light;
        }

        @media (prefers-color-scheme: dark) {
            --mantine-color-scheme: dark;
        }
    }

    color-scheme: var(--mantine-color-scheme, auto);
}
