:root {
    --shadow-xsmall: 0px 2px 4px -1px var(--color-shadow), 0px 2px 4px -2px var(--color-shadow);
    --shadow-small: 0px 2px 4px -2px var(--color-shadow), 0px 4px 8px -2px var(--color-shadow);
    --shadow-medium: 0px 2px 8px -2px var(--color-shadow), 0px 6px 12px -2px var(--color-shadow);
    --shadow-large: 0px 2px 8px -2px var(--color-shadow), 0px 12px 16px -4px var(--color-shadow);
    --shadow-xlarge: 0px 2px 8px -2px var(--color-shadow), 0px 18px 24px -4px var(--color-shadow);
}
