[data-summary-header] {
    padding-inline: var(--mantine-spacing-xs);
}

[data-summary-header][data-view='grid'] {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--mantine-color-body);
}
