.Row {
    padding: 0.5rem 0;

    > :first-child {
        grid-column: span 3;
        padding-inline-start: 1rem;
    }

    .name {
        justify-self: stretch;
        font-weight: var(--font-weight-semi-bold);
    }
}
