.ui-Table-table[data-table="history"] {
    --table-border-color: var(--mantine-color-crust);

    .ui-Table-thead {
        background-color: var(--table-border-color);
    }

    .ui-Table-tbody {
        background-color: var(--mantine-color-base);
    }

    .ui-Table-td {
        padding-block: 0.75rem;
    }
}
