.data {
    white-space: normal;
    overflow-wrap: break-word;

    &[data-empty="true"] {
        color: var(--color-surface2);
    }

    .value {
        margin-inline: 0.1rem;

        &:has(+ *) {
            &::after {
                content: ",";
                font-size: var(--font-size-small);
                color: var(--color-subtext0);
            }
        }

        sub {
            font-size: var(--font-size-xsmall);
            color: var(--color-subtext1);
        }
    }
}
