.ui-Table-table[data-table="history"] {
    --table-border-color: var(--mantine-color-default-border);

    .ui-Table-thead,
    .ui-Table-tbody {
        background-color: transparent;
    }

    .ui-Table-th {
        font-weight: var(--mantine-font-weight-xl);
    }

    .ui-Table-td {
        padding-block: 0.75rem;
    }
}
