@import (once) "@ui/theme.less";

.DragHandle {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-body);
    color: var(--color-text-icon);
    fill: currentcolor;
}
