@import (once) "@ui/theme.less";

.Table {
    display: grid;
    grid-template-rows: auto 1fr;
}

.Head {
    position: relative;
    background-color: var(--color-background-body);
    z-index: 2;
    box-shadow: var(--shadow-xs);
}

.Body {
    position: relative;
    overflow-y: auto;
}
