.Row {
    border-top: 1px solid var(--palette-neutral-outlined-disabled-border);
    padding-block-start: 4px;
    margin-block-end: 4px;
}

.name {
    justify-self: stretch;
    font-weight: var(--font-weight-md);

    &.unavailable {
        color: var(--palette-neutral-outlined-disabled-color);
        text-decoration: line-through;
    }
}
