.Checkbox {
    --checkbox-color: var(--element-color);
    --checkbox-bg: var(--element-bg, transparent);
    --checkbox-border: var(--element-border, var(--checkbox-bg));
    --checkbox-hover: var(--element-hover, var(--element-color));
    --checkbox-hover-bg: var(--element-hover-bg, var(--element-bg));
    --checkbox-hover-border: var(--element-hover-border, var(--element-border));
    --checkbox-active: var(--element-active, var(--element-color));
    --checkbox-active-bg: var(--element-active-bg, var(--element-bg));
    --checkbox-active-border: var(--element-active-border, var(--element-border));
    --checkbox-disabled: var(--element-disabled, var(--element-color));
    --checkbox-disabled-bg: var(--element-disabled-bg, var(--element-bg));
    --checkbox-disabled-border: var(--element-disabled-border, var(--element-border));

    //--checkbox-color: var(--element-color);
    //--checkbox-bg: var(--element-bg, transparent);
    //--checkbox-border: var(--element-border, var(--checkbox-bg));
    //--checkbox-hover: var(--element-hover, var(--checkbox-color));
    //--checkbox-hover-bg: var(--element-hover-bg, var(--checkbox-bg));
    //--checkbox-hover-border: var(--element-hover-border, var(--checkbox-border));
    //--checkbox-active: var(--element-color);
    //--checkbox-active-bg: var(--element-active-bg, var(--checkbox-bg));
    //--checkbox-active-border: var(--element-active-bg, var(--checkbox-border));
    //--checkbox-disabled: var(--element-disabled, var(--checkbox-color));
    //--checkbox-disabled-bg: var(--element-disabled-bg, var(--checkbox-bg));
    //--checkbox-disabled-border: var(--element-disabled-bg, var(--checkbox-border));

    &.state-hover,
    &:hover,
    &:has(:hover) {
        --checkbox-color: var(--checkbox-hover);
        --checkbox-bg: var(--checkbox-hover-bg);
        --checkbox-border: var(--checkbox-hover-border);
    }

    // TODO add outline colors

    &.state-focus,
    &:focus,
    &:has(:focus) {
        --checkbox-color: var(--checkbox-hover);
        --checkbox-bg: var(--checkbox-hover-bg);
        --checkbox-border: var(--checkbox-hover-border);
    }

    &.state-active,
    &:active,
    &:has(:active) {
        --checkbox-color: var(--checkbox-active);
        --checkbox-bg: var(--checkbox-active-bg);
        --checkbox-border: var(--checkbox-active-border);
    }

    &.state-disabled,
    &:disabled,
    &:has(:disabled) {
        --checkbox-color: var(--checkbox-disabled);
        --checkbox-bg: var(--checkbox-disabled-bg);
        --checkbox-border: var(--checkbox-disabled-border);
    }

    &.size-small {
        --checkbox-icon-size: var(--font-size-medium);
        --checkbox-font-size: var(--font-size-small);
    }

    &.size-medium {
        --checkbox-icon-size: var(--font-size-large);
        --checkbox-font-size: var(--font-size-base);
    }

    &.size-large {
        --checkbox-icon-size: var(--font-size-xxlarge);
        --checkbox-font-size: var(--font-size-medium);
    }

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    input {
        display: none;
    }

    .label {
        font-size: var(--checkbox-font-size);
        font-family: var(--font-family-body), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: 1;
        text-decoration: none;
        margin-inline-start: 0.35rem;

        &:empty {
            display: none;
        }
    }

    .checkbox {
        width: var(--checkbox-icon-size);
        height: var(--checkbox-icon-size);
        display: inline-flex;
        align-items: center;
        color: var(--checkbox-color);
        background-color: var(--checkbox-bg);
        border: 1px solid var(--checkbox-border);
        border-radius: var(--radius-xsmall);

        svg {
            user-select: none;
            width: var(--checkbox-icon-size);
            height: var(--checkbox-icon-size);
            color: inherit;
            fill: currentcolor;
        }
    }

    &:active {
        .checkbox {
            color: var(--checkbox-color);
            background-color: var(--checkbox-active-bg);
            border-color: var(--checkbox-active-border);
        }
    }

    &:hover,
    &:focus {
        .checkbox {
            color: var(--checkbox-hover);
            background-color: var(--checkbox-hover-bg);
            border-color: var(--checkbox-hover-border);
        }
    }

    &:has(input:disabled) {
        .label {
            opacity: 0.5;
        }

        .checkbox {
            color: var(--checkbox-disabled);
            background-color: var(--checkbox-disabled-bg);
            border-color: var(--checkbox-disabled-border);
        }
    }

    &:not(:has(input:disabled)) {
        cursor: pointer;
    }

    &:has(input:not(:checked, :indeterminate)) {
        .checkbox svg {
            visibility: hidden;
        }
    }
}
