.Backdrop {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--z-index-backdrop);
}

.Dropdown {
    position: absolute;
    width: fit-content;
    height: fit-content;
    overflow: auto;
    color: var(--color-text);
    background-color: var(--color-base);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-medium);
    display: flex;
    flex-direction: column;
    padding: 0;

    &:not(.hover) {
        margin-block-start: 2px;
    }
}
