.File {
    min-width: 12rem;
    min-height: var(--min-height);

    input {
        opacity: 0;
        position: absolute;
        inset: 0;
    }

    --padding-block: 0.5rem;

    .placeholder,
    .files {
        display: grid;
        align-items: center;
        row-gap: max(4px, var(--padding-block));
        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        width: 100%;
    }

    .placeholder {
        color: color(from var(--input-placeholder-base-color) srgb r g b / 50%);
    }
}
