@import (once) "@ui/theme.less";

.LabeledInput {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: 1.75rem 0;

    + & {
        margin-block-start: 1.5rem;
    }

    label {
        padding: 2px 4px;
        position: absolute;
        top: 0;
    }

    .Error {
        color: var(--color-negative-plain);
        padding: 2px 4px;
        position: absolute;
        bottom: 0;
    }
}
