.Menu {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    padding: 8px 4px;
    border: 1px solid var(--color-crust);
    border-radius: var(--radius-xsmall);
    box-shadow: var(--shadow-xlarge);
}
