// External dependencies
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Common parts
@import "@ui/theme/scheme.pcss";
@import "@ui/theme/colors.pcss";
@import "@ui/theme/focus.pcss";
@import "@ui/theme/fonts.pcss";
@import "@ui/theme/radius.pcss";
@import "@ui/theme/shadows.pcss";
@import "@ui/theme/zindex.pcss";
@import "@ui/theme/typography.pcss";

// Elements
@import "@ui/theme/element.pcss";
