//noinspection CssUnknownTarget
@import (css, once)
    url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    // Font sizes
    --font-size-xs3: 0.5rem;
    --font-size-xs2: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xl2: 1.5rem;
    --font-size-xl3: 1.875rem;
    --font-size-xl4: 2.25rem;
    --font-size-xl5: 3rem;
    --font-size-xl6: 3.75rem;
    --font-size-xl7: 4.5rem;

    // Font families
    --font-family-fallback: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif,
        "Apple -color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-body: "Noto Sans", var(--font-family-fallback);
    --font-family-code: "Noto Sans Mono", "Source Code Pro", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco",
        "Consolas", "Liberation Mono", "Courier New", monospace;

    // Font weights
    --font-weight-xs: 200;
    --font-weight-sm: 300;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;
    --font-weight-xl2: 800;
    --font-weight-xl3: 900;

    // Font styles
    --focus-thickness: 2px;
    --line-height-sm: 1.25;
    --line-height-md: 1.5;
    --line-height-lg: 1.7;
    --letter-spacing-xs: -0.04em;
    --letter-spacing-sm: -0.01em;
    --letter-spacing-md: 0.083em;
    --letter-spacing-lg: 0.125em;

    // Neutral colors
    --palette-neutral-50: #f7f7f8;
    --palette-neutral-100: #ebebef;
    --palette-neutral-200: #d8d8df;
    --palette-neutral-300: #b9b9c6;
    --palette-neutral-400: #8f8fa3;
    --palette-neutral-500: #73738c;
    --palette-neutral-600: #5a5a72;
    --palette-neutral-700: #434356;
    --palette-neutral-800: #25252d;
    --palette-neutral-900: #131318;
    --palette-neutral-plain-color: var(--palette-neutral-800);
    --palette-neutral-plain-hover-color: var(--palette-neutral-900);
    --palette-neutral-plain-hover-bg: var(--palette-neutral-100);
    --palette-neutral-plain-active-bg: var(--palette-neutral-200);
    --palette-neutral-plain-disabled-color: var(--palette-neutral-300);
    --palette-neutral-outlined-color: var(--palette-neutral-800);
    --palette-neutral-outlined-border: var(--palette-neutral-200);
    --palette-neutral-outlined-hover-color: var(--palette-neutral-900);
    --palette-neutral-outlined-hover-bg: var(--palette-neutral-100);
    --palette-neutral-outlined-hover-border: var(--palette-neutral-300);
    --palette-neutral-outlined-active-bg: var(--palette-neutral-200);
    --palette-neutral-outlined-disabled-color: var(--palette-neutral-300);
    --palette-neutral-outlined-disabled-border: var(--palette-neutral-100);
    --palette-neutral-soft-color: var(--palette-neutral-800);
    --palette-neutral-soft-bg: var(--palette-neutral-100);
    --palette-neutral-soft-hover-color: var(--palette-neutral-900);
    --palette-neutral-soft-hover-bg: var(--palette-neutral-200);
    --palette-neutral-soft-active-bg: var(--palette-neutral-300);
    --palette-neutral-soft-disabled-color: var(--palette-neutral-300);
    --palette-neutral-soft-disabled-bg: var(--palette-neutral-50);
    --palette-neutral-solid-color: var(--palette-common-white);
    --palette-neutral-solid-bg: var(--palette-neutral-600);
    --palette-neutral-solid-hover-bg: var(--palette-neutral-700);
    --palette-neutral-solid-active-bg: var(--palette-neutral-800);
    --palette-neutral-solid-disabled-color: var(--palette-neutral-300);
    --palette-neutral-solid-disabled-bg: var(--palette-neutral-50);
    --palette-neutral-main-channel: 115 115 140;
    --palette-neutral-light-channel: 216 216 223;
    --palette-neutral-dark-channel: 37 37 45;

    // Primary colors
    --palette-primary-50: #f4faff;
    --palette-primary-100: #ddf1ff;
    --palette-primary-200: #addbff;
    --palette-primary-300: #6fb6ff;
    --palette-primary-400: #3990ff;
    --palette-primary-500: #096bde;
    --palette-primary-600: #054da7;
    --palette-primary-700: #02367d;
    --palette-primary-800: #072859;
    --palette-primary-900: #00153c;
    --palette-primary-plain-color: var(--palette-primary-600);
    --palette-primary-plain-hover-bg: var(--palette-primary-100);
    --palette-primary-plain-active-bg: var(--palette-primary-200);
    --palette-primary-plain-disabled-color: var(--palette-primary-200);
    --palette-primary-outlined-color: var(--palette-primary-500);
    --palette-primary-outlined-border: var(--palette-primary-200);
    --palette-primary-outlined-hover-bg: var(--palette-primary-100);
    --palette-primary-outlined-hover-border: var(--palette-primary-300);
    --palette-primary-outlined-active-bg: var(--palette-primary-200);
    --palette-primary-outlined-disabled-color: var(--palette-primary-100);
    --palette-primary-outlined-disabled-border: var(--palette-primary-100);
    --palette-primary-soft-color: var(--palette-primary-600);
    --palette-primary-soft-bg: var(--palette-primary-100);
    --palette-primary-soft-hover-bg: var(--palette-primary-200);
    --palette-primary-soft-active-bg: var(--palette-primary-300);
    --palette-primary-soft-disabled-color: var(--palette-primary-300);
    --palette-primary-soft-disabled-bg: var(--palette-primary-50);
    --palette-primary-solid-color: var(--palette-common-white);
    --palette-primary-solid-bg: var(--palette-primary-500);
    --palette-primary-solid-hover-bg: var(--palette-primary-600);
    --palette-primary-solid-active-bg: var(--palette-primary-700);
    --palette-primary-solid-disabled-color: var(--palette-common-white);
    --palette-primary-solid-disabled-bg: var(--palette-primary-200);
    --palette-primary-main-channel: 9 107 222;
    --palette-primary-light-channel: 173 219 255;
    --palette-primary-dark-channel: 7 40 89;

    // Secondary colors
    --palette-secondary-50: #fdf7ff;
    --palette-secondary-100: #f4eaff;
    --palette-secondary-200: #e1cbff;
    --palette-secondary-300: #c69eff;
    --palette-secondary-400: #a374f9;
    --palette-secondary-500: #814dde;
    --palette-secondary-600: #5f35ae;
    --palette-secondary-700: #452382;
    --palette-secondary-800: #301761;
    --palette-secondary-900: #1d0a42;
    --palette-secondary-plain-color: var(--palette-secondary-600);
    --palette-secondary-plain-hover-bg: var(--palette-secondary-100);
    --palette-secondary-plain-active-bg: var(--palette-secondary-200);
    --palette-secondary-plain-disabled-color: var(--palette-secondary-200);
    --palette-secondary-outlined-color: var(--palette-secondary-500);
    --palette-secondary-outlined-border: var(--palette-secondary-200);
    --palette-secondary-outlined-hover-bg: var(--palette-secondary-100);
    --palette-secondary-outlined-hover-border: var(--palette-secondary-300);
    --palette-secondary-outlined-active-bg: var(--palette-secondary-200);
    --palette-secondary-outlined-disabled-color: var(--palette-secondary-100);
    --palette-secondary-outlined-disabled-border: var(--palette-secondary-100);
    --palette-secondary-soft-color: var(--palette-secondary-600);
    --palette-secondary-soft-bg: var(--palette-secondary-100);
    --palette-secondary-soft-hover-bg: var(--palette-secondary-200);
    --palette-secondary-soft-active-bg: var(--palette-secondary-300);
    --palette-secondary-soft-disabled-color: var(--palette-secondary-300);
    --palette-secondary-soft-disabled-bg: var(--palette-secondary-50);
    --palette-secondary-solid-color: var(--palette-common-white);
    --palette-secondary-solid-bg: var(--palette-secondary-500);
    --palette-secondary-solid-hover-bg: var(--palette-secondary-600);
    --palette-secondary-solid-active-bg: var(--palette-secondary-700);
    --palette-secondary-solid-disabled-color: var(--palette-common-white);
    --palette-secondary-solid-disabled-bg: var(--palette-secondary-200);
    --palette-secondary-main-channel: 129 77 222;
    --palette-secondary-light-channel: 225 203 255;
    --palette-secondary-dark-channel: 48 23 97;

    // Success colors
    --palette-success-50: #f3fef5;
    --palette-success-100: #d7f5dd;
    --palette-success-200: #77ec95;
    --palette-success-300: #4cc76e;
    --palette-success-400: #2ca24d;
    --palette-success-500: #1a7d36;
    --palette-success-600: #0f5d26;
    --palette-success-700: #034318;
    --palette-success-800: #002f0f;
    --palette-success-900: #001d09;
    --palette-success-plain-color: var(--palette-success-600);
    --palette-success-plain-hover-bg: var(--palette-success-100);
    --palette-success-plain-active-bg: var(--palette-success-200);
    --palette-success-plain-disabled-color: var(--palette-success-200);
    --palette-success-outlined-color: var(--palette-success-500);
    --palette-success-outlined-border: var(--palette-success-200);
    --palette-success-outlined-hover-bg: var(--palette-success-100);
    --palette-success-outlined-hover-border: var(--palette-success-300);
    --palette-success-outlined-active-bg: var(--palette-success-200);
    --palette-success-outlined-disabled-color: var(--palette-success-100);
    --palette-success-outlined-disabled-border: var(--palette-success-100);
    --palette-success-soft-color: var(--palette-success-600);
    --palette-success-soft-bg: var(--palette-success-100);
    --palette-success-soft-hover-bg: var(--palette-success-200);
    --palette-success-soft-active-bg: var(--palette-success-300);
    --palette-success-soft-disabled-color: var(--palette-success-300);
    --palette-success-soft-disabled-bg: var(--palette-success-50);
    --palette-success-solid-color: var(--palette-common-white);
    --palette-success-solid-bg: var(--palette-success-500);
    --palette-success-solid-hover-bg: var(--palette-success-600);
    --palette-success-solid-active-bg: var(--palette-success-700);
    --palette-success-solid-disabled-color: var(--palette-common-white);
    --palette-success-solid-disabled-bg: var(--palette-success-200);
    --palette-success-main-channel: 26 125 54;
    --palette-success-light-channel: 119 236 149;
    --palette-success-dark-channel: 0 47 15;

    // Warning colors
    --palette-warning-50: #fff8c5;
    --palette-warning-100: #fae17d;
    --palette-warning-200: #eac54f;
    --palette-warning-300: #d4a72c;
    --palette-warning-400: #bf8700;
    --palette-warning-500: #9a6700;
    --palette-warning-600: #7d4e00;
    --palette-warning-700: #633c01;
    --palette-warning-800: #4d2d00;
    --palette-warning-900: #3b2300;
    --palette-warning-plain-color: var(--palette-warning-800);
    --palette-warning-plain-hover-bg: var(--palette-warning-50);
    --palette-warning-plain-active-bg: var(--palette-warning-200);
    --palette-warning-plain-disabled-color: var(--palette-warning-200);
    --palette-warning-outlined-color: var(--palette-warning-800);
    --palette-warning-outlined-border: var(--palette-warning-200);
    --palette-warning-outlined-hover-bg: var(--palette-warning-50);
    --palette-warning-outlined-hover-border: var(--palette-warning-300);
    --palette-warning-outlined-active-bg: var(--palette-warning-200);
    --palette-warning-outlined-disabled-color: var(--palette-warning-100);
    --palette-warning-outlined-disabled-border: var(--palette-warning-100);
    --palette-warning-soft-color: var(--palette-warning-800);
    --palette-warning-soft-bg: var(--palette-warning-50);
    --palette-warning-soft-hover-bg: var(--palette-warning-100);
    --palette-warning-soft-active-bg: var(--palette-warning-200);
    --palette-warning-soft-disabled-color: var(--palette-warning-200);
    --palette-warning-soft-disabled-bg: var(--palette-warning-50);
    --palette-warning-solid-color: var(--palette-warning-800);
    --palette-warning-solid-bg: var(--palette-warning-200);
    --palette-warning-solid-hover-bg: var(--palette-warning-300);
    --palette-warning-solid-active-bg: var(--palette-warning-400);
    --palette-warning-solid-disabled-color: var(--palette-warning-200);
    --palette-warning-solid-disabled-bg: var(--palette-warning-50);
    --palette-warning-main-channel: 154 103 0;
    --palette-warning-light-channel: 234 197 79;
    --palette-warning-dark-channel: 77 45 0;

    // Failure colors
    --palette-failure-50: #fff8f6;
    --palette-failure-100: #ffe9e8;
    --palette-failure-200: #ffc7c5;
    --palette-failure-300: #ff9192;
    --palette-failure-400: #fa5255;
    --palette-failure-500: #d3232f;
    --palette-failure-600: #a10e25;
    --palette-failure-700: #77061b;
    --palette-failure-800: #580013;
    --palette-failure-900: #39000d;
    --palette-failure-plain-color: var(--palette-failure-600);
    --palette-failure-plain-hover-bg: var(--palette-failure-100);
    --palette-failure-plain-active-bg: var(--palette-failure-200);
    --palette-failure-plain-disabled-color: var(--palette-failure-200);
    --palette-failure-outlined-color: var(--palette-failure-500);
    --palette-failure-outlined-border: var(--palette-failure-200);
    --palette-failure-outlined-hover-bg: var(--palette-failure-100);
    --palette-failure-outlined-hover-border: var(--palette-failure-300);
    --palette-failure-outlined-active-bg: var(--palette-failure-200);
    --palette-failure-outlined-disabled-color: var(--palette-failure-100);
    --palette-failure-outlined-disabled-border: var(--palette-failure-100);
    --palette-failure-soft-color: var(--palette-failure-600);
    --palette-failure-soft-bg: var(--palette-failure-100);
    --palette-failure-soft-hover-bg: var(--palette-failure-200);
    --palette-failure-soft-active-bg: var(--palette-failure-300);
    --palette-failure-soft-disabled-color: var(--palette-failure-300);
    --palette-failure-soft-disabled-bg: var(--palette-failure-50);
    --palette-failure-solid-color: var(--palette-common-white);
    --palette-failure-solid-bg: var(--palette-failure-500);
    --palette-failure-solid-hover-bg: var(--palette-failure-600);
    --palette-failure-solid-active-bg: var(--palette-failure-700);
    --palette-failure-solid-disabled-color: var(--palette-common-white);
    --palette-failure-solid-disabled-bg: var(--palette-failure-200);
    --palette-failure-main-channel: 211 35 47;
    --palette-failure-light-channel: 255 199 197;
    --palette-failure-dark-channel: 88 0 19;

    // Common colors
    --palette-common-white: #fff;
    --palette-common-black: #09090d;

    // Text colors
    --palette-text-primary: var(--palette-neutral-800);
    --palette-text-secondary: var(--palette-neutral-600);
    --palette-text-tertiary: var(--palette-neutral-500);

    // Background colors
    --palette-background-body: var(--palette-common-white);
    --palette-background-surface: var(--palette-common-white);
    --palette-background-popup: var(--palette-common-white);
    --palette-background-level1: var(--palette-neutral-50);
    --palette-background-level2: var(--palette-neutral-100);
    --palette-background-level3: var(--palette-neutral-200);
    --palette-background-tooltip: var(--palette-neutral-800);
    --palette-background-backdrop: rgba(var(--palette-neutral-main-channel) / 50%);
    --z-index-backdrop: 1000;
    --z-index-sticky: 10000;

    // Other colors
    --palette-divider: rgba(var(--palette-neutral-main-channel) / 28%);
    --palette-focus-visible: var(--palette-primary-500);

    // Border radius
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;

    // Shadows
    --shadow-ring: 0 0 #000;
    --shadow-channel: 187 187 187;
    --shadow-xs: var(--shadow-ring), 0 1px 2px 0 rgba(var(--shadow-channel) / 12%);
    --shadow-sm: var(--shadow-ring), 0.3px 0.8px 1.1px rgba(var(--shadow-channel) / 11%),
        0.5px 1.3px 1.8px -0.6px rgba(var(--shadow-channel) / 18%),
        1.1px 2.7px 3.8px -1.2px rgba(var(--shadow-channel) / 26%);
    --shadow-md: var(--shadow-ring), 0.3px 0.8px 1.1px rgba(var(--shadow-channel) / 12%),
        1.1px 2.8px 3.9px -0.4px rgba(var(--shadow-channel) / 17%),
        2.4px 6.1px 8.6px -0.8px rgba(var(--shadow-channel) / 23%),
        5.3px 13.3px 18.8px -1.2px rgba(var(--shadow-channel) / 29%);
    --shadow-lg: var(--shadow-ring), 0.3px 0.8px 1.1px rgba(var(--shadow-channel) / 11%),
        1.8px 4.5px 6.4px -0.2px rgba(var(--shadow-channel) / 13%),
        3.2px 7.9px 11.2px -0.4px rgba(var(--shadow-channel) / 16%),
        4.8px 12px 17px -0.5px rgba(var(--shadow-channel) / 19%),
        7px 17.5px 24.7px -0.7px rgba(var(--shadow-channel) / 21%);
    --shadow-xl: var(--shadow-ring), 0.3px 0.8px 1.1px rgba(var(--shadow-channel) / 11%),
        1.8px 4.5px 6.4px -0.2px rgba(var(--shadow-channel) / 13%),
        3.2px 7.9px 11.2px -0.4px rgba(var(--shadow-channel) / 16%),
        4.8px 12px 17px -0.5px rgba(var(--shadow-channel) / 19%),
        7px 17.5px 24.7px -0.7px rgba(var(--shadow-channel) / 21%),
        10.2px 25.5px 36px -0.9px rgba(var(--shadow-channel) / 24%),
        14.8px 36.8px 52.1px -1.1px rgba(var(--shadow-channel) / 27%),
        21px 52.3px 74px -1.2px rgba(var(--shadow-channel) / 29%);
}
