:global(.mantine-ActionIcon-root).AddAction {
    position: fixed;
    inset-block-end: .5rem;
    inset-inline-end: .5rem;
    z-index: 100;
    box-shadow: var(--shadow-medium);
    transition: opacity 0.2s ease-out;
    opacity: 1;
    pointer-events: auto;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}
