.mantine-Badge-root.change-badge {
    position: absolute;

    &.mantine-Badge-root {
        box-shadow: var(--shadow-small);
        padding-block: 0.25em;
    }

    .mantine-Badge-label {
        position: relative;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-base);
        min-height: var(--line-height-base);
        padding-inline: 0.25em;
        margin-inline: -0.25em;
        width: min-content;
    }

    &[data-position^="top"] {
        inset-block-start: -0.75rem;
        margin: auto;
    }

    &[data-position="top"] {
        inset-inline: 0;
    }

    &[data-position="top-left"] {
        inset-inline-end: 100%;
    }

    &[data-position="top-right"] {
        inset-inline-start: 100%;
    }

    &[data-position="left"] {
        inset-inline-end: 125%;
        inset-block-start: 50%;
    }

    &[data-position="right"] {
        inset-inline-start: 125%;
        inset-block-start: 50%;
    }

    &[data-state="updated"] {
        --badge-bg: var(--mantine-color-yellow-filled);
    }

    &[data-state="positive"] {
        --badge-bg: var(--mantine-color-green-filled);
    }

    &[data-state="negative"] {
        --badge-bg: var(--mantine-color-red-filled);
    }
}
