.dialog-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: var(--mantine-color-gray-3);
    opacity: 0.75;
    filter: blur(2px);
    pointer-events: none;

    svg {
        display: block;
        width: 12rem;
        height: 12rem;
        stroke-width: 2;
    }

    img {
        display: block;
        width: 12rem;
        height: 12rem;
        object-fit: cover;
    }
}
