@import (once) "@ui/theme.less";

.DragHandle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-body);
    color: var(--color-text-icon);
    fill: currentcolor;
    cursor: grab;

    &.dragging {
        cursor: grabbing;
    }
}
