.mantine-Flex-root[data-loading] {
    position: absolute;
    inset: var(--safe-block-start) var(--safe-inline-end) var(--safe-block-end) var(--safe-inline-start);
    margin-block-start: 25vh;

    &[data-loading="true"] {
        position: fixed;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
}
