.Page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;

    .header, .footer {
        border: none;
        position: static;
        flex-shrink: 0;
    }

    .main {
        flex: 1;
        min-height: 0;
        padding: 0;

        > div {
            position: sticky;
        }
    }

    .footer {
        padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-xs);
        font-size: var(--mantine-font-size-sm);
    }
}
