.SlideControls {
    position: absolute;
    inset-inline-start: 100vw;
    padding-inline-end: 0.5rem;
    transition: transform 0.2s;
    display: flex;
    justify-content: flex-end;

    .Buttons {
        border-radius: var(--radius-medium);
        box-shadow: var(--shadow-small);
    }
}
