.Table {
    display: grid;
    grid-template-rows: auto 1fr;
}

.Head {
    position: relative;
    background-color: var(--color-base);
    z-index: 2;
    box-shadow: var(--shadow-xsmall);
}

.Body {
    position: relative;
    overflow-y: auto;
}
