// Font families
:root {
    --font-family-fallback:
        -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-body: "NotoSans Nerd Font", "Noto Sans", var(--font-family-fallback);
    --font-family-code-fallback:
        "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    --font-family-code:
        "CaskaydiaCove Nerd Font", "NotoSansM Nerd Font", "Noto Sans Mono", "Source Code Pro",
        var(--font-family-code-fallback);
}
