:root {
    --font-size-xxxsmall: 0.5rem;
    --font-size-xxsmall: 0.625rem;
    --font-size-xsmall: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 1.875rem;
    --font-size-xxxlarge: 2.25rem;
}
