// Font weights
:root {
    --font-weight-xs: 200;
    --font-weight-sm: 300;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;
    --font-weight-xl2: 800;
    --font-weight-xl3: 900;
}
