:root {
    --color-text: #4c4f69;
    --color-base: #eff1f5;
    --color-blue: #1e66f5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #cdd6f4;
        --color-base: #1e1e2e;
        --color-blue: #89b4fa;
    }
}

html,
body {
    color: var(--color-text);
    background: var(--color-base);
}

.Loader {
    --loader-color: var(--color-blue);
    --loader-size: 2.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: var(--loader-size);
    height: var(--loader-size);
    inset: 0;
    margin: auto;
    gap: calc(var(--loader-size) / 5);
}

.Loader span {
    display: block;
    width: 20%;
    height: 100%;
    background: var(--loader-color);
    border-radius: 0.125rem;
    animation: loader-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    flex: 1;
}

.Loader span:nth-child(1) {
    animation-delay: -240ms;
}

.Loader span:nth-child(2) {
    animation-delay: -120ms;
}

.Loader span:nth-child(3) {
    animation-delay: 0s;
}

@keyframes loader-bars {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    50%,
    100% {
        transform: scale(1);
    }
}
