.mantine-Button-root[data-action="login"] {
    position: fixed;
    margin: auto;
    inset: var(--safe-block-start) var(--safe-inline-end) var(--safe-block-end) var(--safe-inline-start);
    width: min-content;

    svg {
        margin-inline-end: 8px;
    }
}
