.ui-Flex-root.value-input {
    position: relative;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ui-Title-root {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-inline-end: 1rem;
        justify-self: center;
        font-size: var(--mantine-h2-font-size);
        font-weight: var(--mantine-font-weight-xs);

        small {
            padding-inline-start: 0.2rem;
            font-size: var(--mantine-font-size-xs);
            font-weight: var(--mantine-font-weight-sm);
        }
    }

    .ui-Group-root {
        position: relative;
        text-align: center;
    }

    .ui-NumberInput-root {
        flex: 0 0 auto;
        width: 12rem;
    }

    .ui-NumberInput-input {
        text-align: center;
        width: 12rem;
    }

    .ui-NumberInput-section {
        width: 2rem;
    }
}
