.ui-Card-root[data-tile-kind="product"] {
    &[data-summary="true"] {
        background-color: var(--mantine-color-neutral-0);
    }

    &[data-expanded-parent="true"] {
        overflow: visible;
        background-color: var(--mantine-color-neutral-0);
        border-color: var(--mantine-color-primary-filled);

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            inset-inline: -1px;
            bottom: calc(var(--mantine-spacing-xs) * -1.5);
            height: calc(var(--mantine-spacing-xs) * 2);
            border-inline: 1px solid var(--mantine-color-primary-filled);
        }

        &::after {
            content: "";
            position: absolute;
            inset-inline: 0;
            bottom: calc(var(--mantine-spacing-xs) * -1.5);
            height: calc(var(--mantine-spacing-xs) * 2);
            background-color: var(--mantine-color-neutral-0);
        }
    }

    &[data-removing="true"] {
        border: 2px solid var(--mantine-color-negative-filled);

        [data-tile-heading] {
            padding-inline-end: 1.5rem;
        }
    }

    [data-removing-icon] {
        position: absolute;
        z-index: 2;
        inset-block-start: 0.35rem;
        inset-inline-end: 0.35rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.35rem;
        height: 1.35rem;
        border-radius: 50%;
        color: var(--mantine-color-negative-text);
        background-color: var(--mantine-color-body);
        box-shadow: 0 0 4px var(--mantine-color-shadow);
    }

    .ui-Checkbox-input {
        &:checked,
        &[data-indeterminate] {
            background-color: var(--mantine-color-body);
        }
    }
}
