.ui-Table-td[data-cell="true"] {
    --value-cell-color: inherit;
    --value-comma-color: var(--mantine-color-dark-text);

    [data-type] {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    [data-type="consumed"] {
        --value-cell-color: var(--mantine-color-positive-text);
    }

    [data-type="recycled"] {
        --value-cell-color: var(--mantine-color-negative-text);
    }

    [data-suspicious="true"] {
        --value-cell-color: var(--mantine-color-moderate-text);
    }

    [data-home="true"] {
        --value-cell-color: var(--mantine-color-blue-text);
    }

    [data-value="true"] {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-inline: 0.1rem;
        color: var(--value-cell-color);

        &:has(+ *) {
            &::after {
                content: ",";
                font-size: var(--mantine-font-size-sm);
                font-weight: var(--mantine-font-weight-sm);
                color: var(--value-comma-color);
            }
        }

        sub {
            font-size: var(--mantine-font-size-xs);
            font-weight: var(--mantine-font-weight-sm);
            opacity: 0.75;
        }

        [data-number="true"] {
            letter-spacing: -0.075em;
            margin-inline-end: 0.075em;
        }
    }
}
