.ui-Table-td[data-cell="true"] {
    white-space: normal;
    overflow-wrap: break-word;
    position: relative;
    padding: 0;

    --value-cell-color: inherit;
    --value-cell-background: inherit;
    --value-cell-font-weight: inherit;

    &[data-last="true"] {
        --value-cell-color: var(--mantine-color-negative-text);
    }

    &[data-empty="true"] {
        --value-cell-color: var(--mantine-color-neutral-5);
    }

    &[data-preferred="true"] {
        --value-cell-color: var(--mantine-color-dark-9);
        --value-cell-background: var(--mantine-color-neutral-1);
        --value-cell-font-weight: var(--mantine-font-weight-md);

        > div {
            outline: 1px dotted var(--mantine-color-neutral-filled);
        }
    }

    &[data-removing="true"] {
        --value-cell-color: var(--mantine-color-body);
        --value-cell-background: var(--mantine-color-negative-text);
        --value-cell-font-weight: var(--mantine-font-weight-xl);
    }

    &[data-last="true"],
    &[data-preferred="true"],
    &[data-removing="true"] {
        --value-sub-color: color-mix(in srgb, var(--value-cell-color) 80%, transparent 20%);
        --value-comma-color: color-mix(in srgb, var(--value-cell-color) 60%, transparent 40%);
    }

    &[data-updating="true"] > div {
        filter: blur(2px);
    }

    &[data-full="true"] > div {
        justify-content: start;
        padding-inline-start: .5rem;
    }

    .ui-Center-root {
        color: var(--value-cell-color);
        background: var(--value-cell-background);
        font-weight: var(--value-cell-font-weight);
        padding: 6px;
        margin: 2px 6px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: var(--mantine-radius-xl);
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        transition-property: color, background-color, filter;
    }

    .ui-Loader-root {
        position: absolute;
        inset: 0;
        margin: auto;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;

        &[data-visible="true"] {
            opacity: 0.75;
        }
    }
}
