.ui-Modal-root.value-list-box {
    .ui-Modal-title {
        flex: 1;
        text-align: center;
        padding-left: 2.5rem;
    }

    .ui-Table-table {
        border-radius: var(--mantine-radius-md);
        border: 1px solid var(--mantine-color-default-border);
        background-color: var(--mantine-color-dark-0);
        overflow: hidden;
    }

    .variant-row {
        cursor: pointer;
    }
}
