.mantine-Title-root {
    &[data-available="false"] {
        color: var(--color-subtext0);
        font-weight: var(--font-weight-light);
    }

    &[data-available="true"][data-removing="true"] {
        color: var(--color-red);
        font-weight: var(--font-weight-bold);
        letter-spacing: -0.25px;
        text-decoration: underline dashed 1px;
        text-underline-position: under;
    }
}
