.ui-Modal-root.variant-edit-box {
    .ui-Modal-header {
        align-items: flex-start;
        flex-shrink: 0;
    }

    .ui-Modal-title {
        flex: 1;
        text-align: center;
        padding-left: 2.5rem;
    }
}
