.ui-Tabs-root[data-tabs='category-rail'] {
    --tab-border-color: var(--mantine-color-default-border);

    position: sticky;
    top: 0;
    max-height: 100dvh;
    overflow-y: auto;

    .ui-Tabs-list {
        &::before,
        &::after {
            content: '';
            display: block;
            position: sticky;
            inset-inline: 0;
            pointer-events: none;
            z-index: 2;
        }

        &::before {
            top: 0;
            height: 1.5rem;
            background: linear-gradient(to top, var(--mantine-color-mantle), transparent);
        }

        &::after {
            bottom: 0;
            height: 2.5rem;
            background: linear-gradient(to bottom, var(--mantine-color-mantle), transparent);
            border-inline-end: 1px solid var(--tab-border-color);
        }
    }

    .ui-Avatar-root[data-grayed='true'] {
        filter: grayscale(1);
        opacity: 0.4;
    }

    .ui-Tabs-tab {
        &:not([data-active='true']) {
            background-color: var(--mantine-color-mantle);
            border-inline-end: 1px solid var(--tab-border-color);
        }

        &[data-active='true'] .ui-Avatar-root {
            transform: scale(1.35);
            margin-inline: 3px -3px;
        }
    }
}
