.burger {
    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 300;
}

.drawer {
    .mantine-Drawer-body {
        padding-inline: var(--safe-inline-start) var(--safe-inline-end);
        padding-block: 0 var(--safe-block-end);
    }

    .mantine-Drawer-content {
        padding: 0;
        flex-basis: min(300px, 60vw);
        height: 100dvh;
        max-height: 100dvh;
    }
}

.menu {
    padding-inline: var(--safe-inline-start) var(--safe-inline-end);
    padding-block: calc(4rem + var(--safe-block-start)) var(--safe-block-end);
    height: 100dvh;
}
