.ToolbarMenuItem {
    border: 1px solid var(--color-base);
    border-radius: var(--radius-small);

    &.current {
        background-color: var(--color-crust);
        color: var(--color-text);
        cursor: default;
        pointer-events: none;
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-mantle);
            color: var(--color-text);
        }
    }
}
