.Table {
    //position: relative;
    //inset: calc(var(--toolbar-height) * 2.4) 0 0;
}

.HeadRow {
    font-weight: var(--font-weight-semi-bold);
    padding-inline-end: 0.5rem;
}

.year {
    text-align: center;
}

.Row {
    > :first-child {
        grid-column: span 3;
        padding-inline-start: 1rem;
    }
}
