@import (once) "@ui/theme.less";

.SummaryPage {
    grid-template-rows: var(--toolbar-height) var(--toolbar-height) minmax(50%, max-content);

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
