@import (once) "@ui/theme.less";

.HeadRow {
    font-weight: var(--font-weight-xl);
}

.year {
    text-align: center;
}

.Row {
    > :first-child {
        grid-column: span 3;
        padding-inline-start: 1rem;
    }
}
