@import (once) "@ui/theme.less";

.SummaryPage {
    grid-template-rows: var(--toolbar-height) 2rem auto;

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
