.Actions {
    position: absolute;
    width: 50vw;
    inset-block: 0;
    display: flex;

    .ButtonGroup {
        width: 100%;
    }

    .Button {
        border-radius: 0;
        width: 50%;
    }
}
