.Row {
    position: relative;

    .Cell {
        padding: 0;

        &--unavailable {
            text-decoration: line-through;
        }
    }

    .Slider {
        position: absolute;
        padding: 0;
        inset-block: 0;
        inset-inline-end: 0;
        display: flex;
        overflow: hidden;
        background: white;
        transition: width 200ms ease-in-out;
    }
}
