.EditingBox {
    position: absolute;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    box-sizing: border-box;

    .ButtonGroup {
        padding: 2px 0;
    }
}

.Value {
    & + &:before {
        content: ", ";
    }

    &.Remove {
        text-decoration: line-through;
    }
}
