.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    /* noinspection CssOverwrittenProperties */
    inset: 44px 0 0;

    /* noinspection CssOverwrittenProperties */
    inset: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom)
        constant(safe-area-inset-left);

    /* noinspection CssOverwrittenProperties */
    inset: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    &.center {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        /* noinspection CssOverwrittenProperties */
        inset: 0;

        /* noinspection CssOverwrittenProperties */
        inset: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom)
            constant(safe-area-inset-left);

        /* noinspection CssOverwrittenProperties */
        inset: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
}
