@import "@ui/theme.pcss";

:root {
    --toolbar-height: 48px;

    &[data-mantine-color-scheme='light'],
    &[data-mantine-color-scheme='dark'] {
        // Base colors
        --mantine-color-white: var(--color-base);
        --mantine-color-black: var(--color-text);
        --mantine-color-body: var(--color-base);
        --mantine-color-text: var(--color-text);

        // Semantic colors
        --mantine-color-dimmed: var(--color-subtext0);
        --mantine-color-bright: var(--color-text);
        --mantine-color-placeholder: var(--color-subtext0);
        --mantine-color-anchor: var(--color-blue);
        --mantine-color-error: var(--color-red);

        // Default variant colors
        --mantine-color-default: var(--color-surface0);
        --mantine-color-default-hover: var(--color-surface1);
        --mantine-color-default-border: var(--color-overlay0);
        --mantine-color-default-color: var(--color-text);

        // Disabled variant colors
        --mantine-color-disabled: var(--color-surface0);
        --mantine-color-disabled-color: var(--color-overlay0);


        // Contrast
        --mantine-primary-color-contrast: var(--color-base);
    }

    //
    // Safe area insets
    //

    // default

    /* noinspection CssOverwrittenProperties */
    --safe-block-start: 0;

    /* noinspection CssOverwrittenProperties */
    --safe-block-end: 0;

    /* noinspection CssOverwrittenProperties */
    --safe-inline-start: 0;

    /* noinspection CssOverwrittenProperties */
    --safe-inline-end: 0;

    // constant function

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-block-start: constant(safe-area-inset-top);

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-block-end: constant(safe-area-inset-bottom);

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-inline-start: constant(safe-area-inset-left);

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-inline-end: constant(safe-area-inset-right);

    // env function

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-block-start: env(safe-area-inset-top);

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-block-end: env(safe-area-inset-bottom);

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-inline-start: env(safe-area-inset-left);

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-inline-end: env(safe-area-inset-right);

    // composites
    --safe-block: var(--safe-block-start) var(--safe-block-end);
    --safe-inline: var(--safe-inline-start) var(--safe-inline-end);
    --safe-area: var(--safe-block-start) var(--safe-inline-end) var(--safe-block-end) var(--safe-inline-start);
}

html {
    position: absolute;
    inset: 0;
    user-select: none;
}

html,
body {
    color: var(--color-text);
    background: var(--color-base);
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family-body), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: var(--safe-area);
}

code {
    font-family: var(--font-family-code), monospace;
}

:global(.mantine-Dropzone-root) {
    &:where([data-idle]) {
        color: var(--color-text);
        background-color: var(--color-surface0);
        border-color: var(--color-surface2);
    }

    &:where([data-accept]) {
        --mantine-color-dimmed: color-mix(in srgb, var(--color-green) 30%, var(--color-subtext0) 70%);

        color: var(--color-green);
        background-color: color-mix(in srgb, var(--color-green) 10%, var(--color-surface0) 90%);
        border-color: color-mix(in srgb, var(--color-green) 20%, var(--color-surface2) 80%);
    }

    &:where([data-reject]) {
        --mantine-color-dimmed: color-mix(in srgb, var(--color-red) 30%, var(--color-subtext0) 70%);

        color: var(--color-red);
        background-color: color-mix(in srgb, var(--color-red) 10%, var(--color-surface0) 90%);
        border-color: color-mix(in srgb, var(--color-red) 20%, var(--color-surface2) 80%);
    }
}
