@import "@ui/theme.pcss";
@import "@ui/svg.pcss";

:root {
    --toolbar-height: 48px;
}

html {
    position: absolute;
    inset: 0;
    color: var(--color-text);
    background: var(--color-base);
    user-select: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: var(--font-family-body), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: var(--font-family-code), monospace;
}
