:root {
    --toolbar-height: 48px;
    --label-fz: var(--mantine-font-size-md);

    //
    // Safe area insets
    //

    --safe-block-start: 0;
    --safe-block-end: 0;
    --safe-inline-start: 0;
    --safe-inline-end: 0;

    @supports (top: constant(safe-area-inset-top)) {
        --safe-block-start: constant(safe-area-inset-top);
        --safe-block-end: constant(safe-area-inset-bottom);
        --safe-inline-start: constant(safe-area-inset-left);
        --safe-inline-end: constant(safe-area-inset-right);
    }

    @supports (top: env(safe-area-inset-top)) {
        --safe-block-start: env(safe-area-inset-top);
        --safe-block-end: env(safe-area-inset-bottom);
        --safe-inline-start: env(safe-area-inset-left);
        --safe-inline-end: env(safe-area-inset-right);
    }
}

html {
    position: absolute;
    inset: 0;
    user-select: none;
}

html,
body {
    color: var(--mantine-color-text);
    background: var(--mantine-color-body);
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--mantine-font-family), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: var(--mantine-font-family-monospace), monospace;
}

// Prevent iOS zoom on input focus
input,
textarea,
select,
.ui-Input-input,
.ui-Select-input,
.ui-NumberInput-input,
.ui-TextInput-input,
.ui-PasswordInput-input,
.ui-Textarea-input,
.ui-Autocomplete-input,
.ui-MultiSelect-input,
.ui-Select-option,
.ui-Button-label,
.ui-InputWrapper-label,
.ui-NavLink-label {
    font-size: var(--mantine-font-size-md);
}

.ui-Burger-root {
    --burger-color: var(--mantine-color-text);
}

.ui-NavLink-label,
.ui-Select-dropdown {
    color: var(--mantine-color-text);
}

.ui-Avatar-placeholder,
.ui-AppShell-header,
.ui-AppShell-footer,
.ui-Drawer-content,
.ui-Drawer-header,
.ui-Drawer-body,
.ui-Input-input,
.ui-Checkbox-input,
.ui-Select-input,
.ui-Select-dropdown,
.ui-Modal-content,
.ui-Modal-header,
.ui-Modal-body {
    background-color: var(--mantine-color-body);
}

.ui-Select-dropdown {
    border-color: var(--mantine-color-dark-0);
    box-shadow: var(--mantine-shadow-md);
}

.ui-Input-input,
.ui-Checkbox-input,
.ui-Select-input {
    &:disabled {
        //--mantine-color-disabled: var(--mantine-color-surface0);
    }
}

@media (hover: none) {
    .ui-NavLink-root,
    .ui-Select-option {
        &:active {
            background-color: var(--mantine-primary-color-light);
        }
    }
}

.ui-SegmentedControl-root {
    background-color: var(--mantine-color-gray-3);
    border-color: var(--mantine-color-default-border);

    .ui-SegmentedControl-label:not([data-active="true"]) {
        //color: var(--mantine-color-text);
        color: inherit;
    }
}

.ui-Modal-overlay,
.ui-Drawer-overlay {
    opacity: 0.2;
    backdrop-filter: blur(2px);
}

.ui-Modal-title {
    font-size: var(--mantine-font-size-lg);
    font-weight: var(--mantine-font-weight-lg);
}

.ui-Dropzone-root {
    &:where([data-idle]) {
        color: var(--mantine-color-text);
        background-color: var(--mantine-color-gray-3);
        border-color: var(--mantine-color-default-border);
    }

    &:where([data-accept]) {
        --mantine-color-dimmed: color-mix(in srgb, var(--mantine-color-green-text) 30%, var(--mantine-color-subtext0) 70%);

        color: var(--mantine-color-green-text);
        background-color: color-mix(in srgb, var(--mantine-color-green-filled) 10%, var(--mantine-color-surface0) 90%);
        border-color: color-mix(in srgb, var(--mantine-color-green-filled) 20%, var(--mantine-color-surface2) 80%);
    }

    &:where([data-reject]) {
        --mantine-color-dimmed: color-mix(in srgb, var(--mantine-color-red-text) 30%, var(--mantine-color-subtext0) 70%);

        color: var(--mantine-color-red-text);
        background-color: color-mix(in srgb, var(--mantine-color-red-filled) 10%, var(--mantine-color-surface0) 90%);
        border-color: color-mix(in srgb, var(--mantine-color-red-filled) 20%, var(--mantine-color-surface2) 80%);
    }
}

@property --mantine-color-group-title {
    syntax: '<color>';
    inherits: true;
    initial-value: #000;
}

.ui-Table-table {
    --table-border-color: var(--mantine-color-gray-1);

    font-size: var(--mantine-font-size-md);
    margin-block-end: 12px;

    &[data-drag-overlay='true'] {
        table-layout: fixed;
        width: 100%;
        background-color: var(--mantine-color-body);
        box-shadow: var(--mantine-shadow-md);
    }

    --mantine-color-group-title: var(--mantine-color-gray-filled);

    &[data-table="product"] {
        --mantine-color-group-title: var(--mantine-color-blue-filled);
    }

    &[data-table="summary"] {
        --mantine-color-group-title: var(--mantine-color-green-filled);

        &[data-recycled='true'] {
            --mantine-color-group-title: var(--mantine-color-red-filled);
        }
    }
}

.ui-Table-th {
    font-weight: var(--mantine-font-weight-sm);

    &[data-group-title='true'] {
        font-size: var(--mantine-h2-font-size);
        font-weight: var(--mantine-font-weight-lg);
        padding: 1.5rem 0.75rem 0.5rem;
        position: sticky;
        inset-block-start: 2rem;
        z-index: 1;
        border-block-end: 1px solid var(--table-border-color);
        //background-color: var(--mantine-color-body);

        transition: --mantine-color-group-title 200ms ease-in-out;
        background: var(--mantine-color-body)
            linear-gradient(
                150deg,
                color(from var(--mantine-color-group-title) srgb r g b / 0%) 40%,
                color(from var(--mantine-color-group-title) srgb r g b / 30%)
            );
    }
}

.ui-Table-thead {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--mantine-color-body);
}

.ui-Table-thead,
.ui-Table-tbody,
.ui-Table-tr {
    --transition-duration: 100ms;
    --transition-timing-function: linear;

    transition:
            height var(--transition-duration) var(--transition-timing-function),
            padding var(--transition-duration) var(--transition-timing-function),
            margin var(--transition-duration) var(--transition-timing-function),
            opacity var(--transition-duration) var(--transition-timing-function) calc(var(--transition-duration) / 2),
            visibility 0s var(--transition-timing-function);

    &[data-hidden="true"] {
        visibility: collapse;
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border: 0;
        transition:
                height var(--transition-duration) var(--transition-timing-function),
                padding var(--transition-duration) var(--transition-timing-function),
                margin var(--transition-duration) var(--transition-timing-function),
                opacity var(--transition-duration) var(--transition-timing-function),
                visibility 0s var(--transition-timing-function) var(--transition-duration);
    }
}

.ui-Table-tr[data-dragging='true'] {
    position: relative;
    z-index: 1;

    &, .ui-Table-th, .ui-Table-td {
        box-shadow: var(--mantine-shadow-sm);
        background-color: var(--mantine-color-body);
    }
}

.ui-Title-root{
    &[data-available="false"] {
        color: var(--mantine-color-dark-text);
        font-weight: var(--mantine-font-weight-xs);
    }

    &[data-available="true"][data-removing="true"] {
        color: var(--mantine-color-red-text);
        font-weight: var(--mantine-font-weight-xl);
        letter-spacing: -0.25px;
        text-decoration: underline dashed 1px;
        text-underline-position: under;
    }

    &[data-unused="true"] {
        font-weight: var(--mantine-font-weight-xs);
        color: var(--mantine-color-dark-text);
        text-decoration: underline wavy 1px;
        text-decoration-color: var(--mantine-color-red-text);
        text-underline-position: under;
    }
}
