@import "@mantine/core/styles.css";
@import "@mantine/dropzone/styles.css";
@import "@ui/theme.pcss";

:root {
    --toolbar-height: 48px;

    &[data-mantine-color-scheme='light'],
    &[data-mantine-color-scheme='dark'] {
        // Base colors
        --mantine-color-white: var(--color-base);
        --mantine-color-black: var(--color-text);
        --mantine-color-body: var(--color-base);
        --mantine-color-text: var(--color-text);

        // Semantic colors
        --mantine-color-dimmed: var(--color-subtext0);
        --mantine-color-bright: var(--color-text);
        --mantine-color-placeholder: var(--color-subtext0);
        --mantine-color-anchor: var(--color-blue);
        --mantine-color-error: var(--color-red);

        // Default variant colors
        --mantine-color-default: var(--color-surface0);
        --mantine-color-default-hover: var(--color-surface1);
        --mantine-color-default-border: var(--color-overlay0);
        --mantine-color-default-color: var(--color-text);

        // Disabled variant colors
        --mantine-color-disabled: var(--color-surface0);
        --mantine-color-disabled-color: var(--color-overlay0);


        // Contrast
        --mantine-primary-color-contrast: var(--color-base);
    }

    // Font sizes

    --mantine-font-size-xs: var(--font-size-small);
    --mantine-font-size-sm: var(--font-size-base);
    --mantine-font-size-md: var(--font-size-medium);
    --mantine-font-size-lg: var(--font-size-large);
    --mantine-font-size-xl: var(--font-size-xlarge);

    // Heading font settings

    --mantine-h1-font-size: var(--font-size-base);
    --mantine-h1-font-weight: var(--font-weight-bold);
    --mantine-h2-font-size: var(--font-size-base);
    --mantine-h2-font-weight: var(--font-weight-bold);
    --mantine-h3-font-size: var(--font-size-base);
    --mantine-h3-font-weight: var(--font-weight-bold);
    --mantine-h4-font-size: var(--font-size-base);
    --mantine-h4-font-weight: var(--font-weight-semi-bold);
    --mantine-h5-font-size: var(--font-size-base);
    --mantine-h5-font-weight: var(--font-weight-semi-bold);
    --mantine-h6-font-size: var(--font-size-base);
    --mantine-h6-font-weight: var(--font-weight-semi-bold);

    //
    // Safe area insets
    //

    // default

    /* noinspection CssOverwrittenProperties */
    --safe-block-start: 0;

    /* noinspection CssOverwrittenProperties */
    --safe-block-end: 0;

    /* noinspection CssOverwrittenProperties */
    --safe-inline-start: 0;

    /* noinspection CssOverwrittenProperties */
    --safe-inline-end: 0;

    // constant function

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-block-start: constant(safe-area-inset-top);

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-block-end: constant(safe-area-inset-bottom);

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-inline-start: constant(safe-area-inset-left);

    /* noinspection CssOverwrittenProperties,CssInvalidFunction,Stylelint */
    --safe-inline-end: constant(safe-area-inset-right);

    // env function

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-block-start: env(safe-area-inset-top);

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-block-end: env(safe-area-inset-bottom);

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-inline-start: env(safe-area-inset-left);

    /* noinspection CssOverwrittenProperties,Stylelint */
    --safe-inline-end: env(safe-area-inset-right);
}

html {
    position: absolute;
    inset: 0;
    user-select: none;
}

html,
body {
    color: var(--color-text);
    background: var(--color-base);
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family-body), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: var(--font-family-code), monospace;
}

// Prevent iOS zoom on input focus
input,
textarea,
select,
.ui-Input-input,
.ui-Select-input,
.ui-NumberInput-input,
.ui-TextInput-input,
.ui-PasswordInput-input,
.ui-Textarea-input,
.ui-Autocomplete-input,
.ui-MultiSelect-input,
.ui-NavLink-label {
    font-size: var(--font-size-base);
}

.ui-Burger-root {
    --burger-color: var(--color-text);
}

.ui-NavLink-label,
.ui-Select-dropdown {
    color: var(--color-text);
}

.ui-Avatar-placeholder,
.ui-AppShell-header,
.ui-AppShell-footer,
.ui-Drawer-content,
.ui-Drawer-header,
.ui-Drawer-body,
.ui-Input-input,
.ui-Checkbox-input,
.ui-Select-input,
.ui-Select-dropdown,
.ui-Modal-content,
.ui-Modal-header,
.ui-Modal-body {
    background-color: var(--color-base);
}

.ui-Select-dropdown {
    border-color: var(--color-surface0);
    box-shadow: var(--shadow-medium);
}

.ui-SegmentedControl-root {
    background-color: var(--color-surface0);
    border-color: var(--color-surface2);

    .ui-SegmentedControl-label:not([data-active="true"]) {
        //color: var(--color-text);
        color: inherit;
    }
}

.ui-Modal-overlay,
.ui-Drawer-overlay {
    opacity: 0.2;
    backdrop-filter: blur(2px);
}

.ui-Modal-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
}

.ui-Dropzone-root {
    &:where([data-idle]) {
        color: var(--color-text);
        background-color: var(--color-surface0);
        border-color: var(--color-surface2);
    }

    &:where([data-accept]) {
        --mantine-color-dimmed: color-mix(in srgb, var(--color-green) 30%, var(--color-subtext0) 70%);

        color: var(--color-green);
        background-color: color-mix(in srgb, var(--color-green) 10%, var(--color-surface0) 90%);
        border-color: color-mix(in srgb, var(--color-green) 20%, var(--color-surface2) 80%);
    }

    &:where([data-reject]) {
        --mantine-color-dimmed: color-mix(in srgb, var(--color-red) 30%, var(--color-subtext0) 70%);

        color: var(--color-red);
        background-color: color-mix(in srgb, var(--color-red) 10%, var(--color-surface0) 90%);
        border-color: color-mix(in srgb, var(--color-red) 20%, var(--color-surface2) 80%);
    }
}

.ui-Table-table {
    --table-border-color: var(--color-mantle);

    font-size: var(--font-size-base);
    margin-block-end: 12px;

    &[data-drag-overlay='true'] {
        table-layout: fixed;
        width: 100%;
        background-color: var(--color-base);
        box-shadow: var(--shadow-medium);
    }

    --color-group-title: var(--color-overlay2);

    &[data-table="product"] {
        --color-group-title: var(--color-blue);
    }

    &[data-table="summary"] {
        --color-group-title: var(--color-green);

        &[data-recycled='true'] {
            --color-group-title: var(--color-red);
        }
    }
}

.ui-Table-th {
    font-weight: var(--font-weight-normal);

    &[data-group-title='true'] {
        font-size: var(--font-size-xlarge);
        font-weight: var(--font-weight-semi-bold);
        padding: 1.25rem 0.75rem 0.75rem;
        position: sticky;
        inset-block-start: 2.25rem;
        z-index: 1;
        background: var(--color-base) linear-gradient(135deg, color(from var(--color-group-title) srgb r g b / 0%) 30%, color(from var(--color-group-title) srgb r g b / 50%));
    }
}

.ui-Table-thead {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--color-base);
}

.ui-Table-thead,
.ui-Table-tbody,
.ui-Table-tr {
    --transition-duration: 100ms;
    --transition-timing-function: linear;

    transition:
            height var(--transition-duration) var(--transition-timing-function),
            padding var(--transition-duration) var(--transition-timing-function),
            margin var(--transition-duration) var(--transition-timing-function),
            opacity var(--transition-duration) var(--transition-timing-function) calc(var(--transition-duration) / 2),
            visibility 0s var(--transition-timing-function);

    &[data-hidden="true"] {
        visibility: collapse;
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border: 0;
        transition:
                height var(--transition-duration) var(--transition-timing-function),
                padding var(--transition-duration) var(--transition-timing-function),
                margin var(--transition-duration) var(--transition-timing-function),
                opacity var(--transition-duration) var(--transition-timing-function),
                visibility 0s var(--transition-timing-function) var(--transition-duration);
    }
}

.ui-Table-tr[data-dragging='true'] {
    position: relative;
    z-index: 1;

    &, .ui-Table-th, .ui-Table-td {
        box-shadow: var(--shadow-small);
        background-color: var(--color-base);
    }
}
