.ui-Combobox-option:has([data-new-product-option]),
.ui-Select-option:has([data-new-product-option]) {
    margin-bottom: 0.25rem;
    padding-bottom: 0.5rem;
}

.ui-Combobox-option:has([data-product-group-option]),
.ui-Select-option:has([data-product-group-option]) {
    margin-top: var(--mantine-spacing-sm);
    padding-top: var(--mantine-spacing-sm);
}
