@import (once) "@ui/theme.less";

.Table {
    position: absolute;
    inset: calc(var(--toolbar-height) + 3rem) 0 0;
    grid-template-rows: 1fr;
}

.SortableRowGroup {
    position: relative;
}

.Row {
    grid-template-columns: 24px 1fr;

    &.mod-dragging {
        background-color: var(--color-background-body);
        z-index: var(--z-index-sticky);
        margin-block-start: -1px;
        border-block: 1px solid var(--color-neutral-outlined-disabled-border);

        & + .Row {
            margin-block-start: -1px;
            border-top: 1px solid var(--color-neutral-outlined-disabled-border);
        }
    }

    overflow: hidden;
}

.Name {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    width: 100%;
    margin: 0.25rem 0.5rem;
    justify-self: stretch;
    background-color: var(--color-background-body);
}

.DragHandle {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-outlined-border);
    fill: currentcolor;
    background-color: var(--color-background-body);
    margin: 0.25rem 0 0.25rem 0.5rem;
}

.Controls {
    position: absolute;
    inset-inline-start: 100vw;
    padding-inline-end: 0.5rem;
    transition: transform 0.2s;
    display: flex;
    justify-content: flex-end;
}
