.Table {
    position: absolute;
    inset: var(--toolbar-height) 0 0;
}

.Row {
    grid-template-columns: 40px 2fr 1fr;
    padding: 0.5rem 0;
    background-color: var(--color-base);
    overflow: hidden;
}

.Name {
    justify-self: stretch;
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-large);
}
